<app-newsletter></app-newsletter>
<section>
  <div class="container">
    <article id="main-col">
      <h1 class="page-title">Services</h1>
      <ul id="services">
        <li *ngFor="let service of services">
          <h3>{{service.title}}</h3>
          <p>{{service.text}}</p>
          <p>
            Pricing: {{service.pricing}}
          </p>
        </li>
      </ul>
    </article>
    <aside id="sidebar">
      <div class="dark">
        <h3>Get a Quote</h3>
        <form class="quote">
          <div>
            <label>Name</label>
            <input type="text" placeholder="Name">
          </div>
          <div>
            <label>Email</label>
            <input type="email" placeholder="Email">
          </div>
          <div>
            <label>Message</label>
            <textarea type="text" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="button">Send</button>
        </form>
      </div>
    </aside>
  </div>
</section>
<app-footer></app-footer>
