<app-newsletter></app-newsletter>
<section>
  <div class="container">
    <article id="main-col">
      <h1 class="page-title">About Us</h1>
      <p>
        Aenean quis velit urna. Proin in tortor dictum, congue eros id, rhoncus libero. Proin bibendum elit erat, a eleifend lorem
        bibendum eu. Donec blandit lorem semper tempus tincidunt. Aenean finibus nec magna vitae consectetur. Phasellus mi
        leo, dapibus vel ante dictum, molestie aliquam metus.
      </p>
      <p class="dark">
        Aenean quis velit urna. Proin in tortor dictum, congue eros id, rhoncus libero. Proin bibendum elit erat, a eleifend lorem
        bibendum eu. Donec blandit lorem semper tempus tincidunt. Aenean finibus nec magna vitae consectetur. Phasellus mi
        leo, dapibus vel ante dictum, molestie aliquam metus. Duis sit amet dictum felis, et rhoncus est. Morbi et ultricies
        eros. Suspendisse at nibh eget ex placerat lacinia.
      </p>
    </article>
    <aside id="sidebar">
      <div class="dark">
        <h3>Whats new</h3>
        <p>
          Aenean quis velit urna. Proin in tortor dictum, congue eros id, rhoncus libero. Proin bibendum elit erat, a eleifend lorem
          bibendum eu. Donec blandit lorem semper tempus tincidunt. Aenean finibus nec magna vitae consectetur. Phasellus
          mi leo, dapibus vel ante dictum, molestie aliquam metus. Duis sit amet dictum felis, et rhoncus est. Morbi et ultricies
          eros. Suspendisse at nibh eget ex placerat lacinia.
        </p>
      </div>

    </aside>
  </div>
</section>

<footer>
  <p>ACME Web Design, Copyright &copy; 2018</p>
</footer>
