<section id="showcase">
  <div class="container">
    <h1>Affordable Professional Websites</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia mauris id dui finibus dignissim.
    </p>
  </div>
</section>

<app-newsletter></app-newsletter>

<section id="boxes">
  <div class="container">
    <div class="box">
      <img src="assets/img/logo_html.png" alt="">
      <h3>Html5 Markup</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia mauris id dui finibus dignissim.</p>
    </div>
    <div class="box">
      <img src="assets/img/logo_css.png" alt="">
      <h3>CSS3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia mauris id dui finibus dignissim.</p>
    </div>
    <div class="box">
      <img src="assets/img/logo_brush.png" alt="">
      <h3>Graphic Design</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia mauris id dui finibus dignissim.</p>
    </div>
  </div>
</section>

<app-footer></app-footer>
